In [1]:
import pandas as pd

In [5]:
customers = pd.read_csv("../data/raw/customers_dataset.csv", sep=',')
order_items = pd.read_csv("../data/raw/order_items_dataset.csv", sep=',')
order_payments = pd.read_csv("../data/raw/order_payments_dataset.csv", sep=',')
order_reviews = pd.read_csv("../data/raw/order_reviews_dataset.csv", sep=',')
orders = pd.read_csv("../data/raw/orders_dataset.csv", sep=',')
product_category_name_translation = pd.read_csv("../data/raw/product_category_name_translation.csv", sep=',')
products = pd.read_csv("../data/raw/products_dataset.csv", sep=',')

In [7]:
print(customers.info())
print(order_items.info())
print(order_payments.info())
print(order_reviews.info())
print(orders.info())
print(product_category_name_translation.info())
print(products.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98666 entries, 0 to 98665
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   order_id             98666 non-null  object
 1   order_item_id        98666 non-null  int64
 2   product_id           98666 non-null  object
 3   seller_id            98666 non-null  object
 4   shipping_limit_date  98666 non-null  object
 5   price                98666 non-null  float64
 6   freight_value        98666 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 5.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98410 entries, 0 to 98409
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                98410 non-null  object
 1   order_id                 98410 non-null  object
 2   review_score             98410 non-null  int64
 3   review_comment_title     11519 non-null  object
 4   review_comment_message   40668 non-null  object
 5   review_creation_date     98410 non-null  object
 6   review_answer_timestamp  98410 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          73 non-null     object
 1   product_category_name_english  73 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

In [31]:
order_items.head(3)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.9,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.0,17.87

In [21]:
def check_duplicates(df,_col):
    dp = df[df.duplicated(subset=_col, keep='first')]
    if not dp.empty:
        return dp
    else:
        print(f'{_col} is clean!!')

In [30]:
check_duplicates(customers, 'customer_id')
check_duplicates(order_items, 'order_id')
check_duplicates(order_payments, 'order_id')
check_duplicates(order_reviews, 'review_id')
check_duplicates(orders, 'order_id')
check_duplicates(products, 'product_id')

customer_id is clean!!
order_id is clean!!
review_id is clean!!
order_id is clean!!
product_id is clean!!

In [ ]:
customers = pd.read_csv("../data/raw/customers_dataset.csv", sep=',')
order_items = pd.read_csv("../data/raw/order_items_dataset.csv", sep=',')
order_payments = pd.read_csv("../data/raw/order_payments_dataset.csv", sep=',')
order_reviews = pd.read_csv("../data/raw/order_reviews_dataset.csv", sep=',')
orders = pd.read_csv("../data/raw/orders_dataset.csv", sep=',')
product_category_name_translation = pd.read_csv("../data/raw/product_category_name_translation.csv", sep=',')
products = pd.read_csv("../data/raw/products_dataset.csv", sep=',')


\copy category_names FROM '/var/lib/postgresql/raw_data/product_category_name_translation.csv' DELIMITER ',' CSV HEADER;
\copy customers FROM '/var/lib/postgresql/raw_data/customers_dataset.csv' DELIMITER ',' CSV HEADER;
\copy order_items FROM '/var/lib/postgresql/raw_data/order_items_dataset.csv' DELIMITER ',' CSV HEADER;
\copy orders FROM '/var/lib/postgresql/raw_data/orders_dataset.csv' DELIMITER ',' CSV HEADER;
\copy payments FROM '/var/lib/postgresql/raw_data/order_payments_dataset.csv' DELIMITER ',' CSV HEADER;
\copy products FROM '/var/lib/postgresql/raw_data/products_dataset.csv' DELIMITER ',' CSV HEADER;
\copy reviews FROM '/var/lib/postgresql/raw_data/order_reviews_dataset.csv' DELIMITER ',' CSV HEADER;